[workspace]
resolver = "2"

edition = "2021"

members = [
    "flux",
    "flux-attrs",
    "flux-rs",
    "flux-attrs-proc-macros-build",
    "flux-bin",
    "flux-common",
    "flux-config",
    "flux-desugar",
    "flux-driver",
    "flux-errors",
    "flux-fhir-analysis",
    "flux-fixpoint",
    "flux-macros",
    "flux-metadata",
    "flux-middle",
    "flux-refineck",
    "flux-syntax",
    "flux-tests",
]
