[package]
autobins = false
name = "flux-driver"
version = "0.1.0"

edition.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[[bin]]
name = "flux-driver"
path = "src/bin/main.rs"

[dependencies]
flux-common.workspace = true
flux-config.workspace = true
flux-desugar.workspace = true
flux-errors.workspace = true
flux-fhir-analysis.workspace = true
flux-macros.workspace = true
flux-metadata.workspace = true
flux-middle.workspace = true
flux-refineck.workspace = true
flux-syntax.workspace = true
itertools = "0.10"
tracing-subscriber = { version = "0.3", features = ["json"] }
tracing-timing = "0.6.0"

[dependencies.tracing]
features = ["max_level_debug", "release_max_level_info"]
version = "0.1"

[package.metadata.rust-analyzer]
rustc_private = true
