name: gh-pages

on:
  push:
    branches: [main]
    paths: book/**
  pull_request:
    branches: [main]
    paths: book/**

jobs:
  build:
    name: Build and Deploy Website
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install mdBook
        uses: peaceiris/actions-mdbook@v1.2.0

      - run: mdbook build book

      - name: Rust Cache
        uses: Swatinem/rust-cache@v2.2.1

      - run: cargo xtask doc && mv target/doc book/book

      # Only deploy when pushing on main, otherwise just run mdbook and cargo doc to check if there are any errors
      - uses: JamesIves/github-pages-deploy-action@4.1.7
        if: ${{ github.event_name == 'push' }}
        with:
          branch: gh-pages # The branch the action should deploy to.
          folder: book/book # The folder the action should deploy.
